
body {
  margin: 0;
  padding: 0;
  
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
  background-color: #859d8f;
}

a {
  text-decoration: none;
}
/*header*/

.main-header-logo {
  width: 154px;
  height: 64px;
  object-fit: contain;
  width: 64px;
  min-height: 50px;
  margin-right: 24px;
}

.site-navigation {
	display: flex; 
	justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  float: left;
  width: 80px;
  min-height: 50px;
  margin-right: 205px;
  flex-wrap: wrap;
  width: 696px;
  margin: 0px;
  padding: 0px;
  padding-top: 15px;
  padding-left: 13px;
  box-sizing: border-box;
  list-style: none;
}



.site-navigation {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 16px;
  margin-right: 10px;
  padding: 4px 10px;
  display: inline-block;
  box-sizing: border-box;
}

.entrance {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.two-goods {
  font-size: 14px;
  line-height: 16px;
  color: #323232;
}

.forgot-password {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
}

.new-registration {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
}

.empty {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

/*body*/

.main-info {
  box-sizing: border-box;
  width: 1200px;
  min-width: 940px;
  margin: 0 auto;
  padding: 0 27px;
}

.ice-cream-card {
  margin-right: 26px;
}

.ice-choice-caramel {
  margin-right: 0;
}

.site-navigation {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.user-navigation {
  float: right;
}

.ice-catalog {
  font-size: 14px;
  line-height: 16px;
  color: #323232;
}

.shop-title {
  padding: 25px 20px 25px 20px;
  background-repeat: repeat;
  background-size: auto;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}





.contacts {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.fast-view {
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
}

.ice-choice {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.menu-ice-catalog {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.order {
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
}

.ice-cream-img {
  border-radius: 150px;
  width: 267px;
  height: 267px;
}

.shop-glasy{
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  font-weight: 500;
  margin: 0px;
}

.glaysy-standarts-info {
  padding: 25px 20px 25px 20px;
  background-size: auto;
  background-position: left center;
}

.provider, .production, .document, .standart {
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
}

.news-blog {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

.ice-cream {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

.ecological {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

.natural {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

.temperature {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

.ways {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

.subscription {
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
}

.value {
  font-size: 45px;
  line-height: 45px;
  color: #ffffff;
}

.weight {
  font-size: 30px;
  line-height: 45px;
  color: #ffffff;
}

.send {
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
}

.shut-down {
  width: 18px;
  height: 17px;
}

/*footer*/

.store-info {
  justify-content: flex-start;
  display: flex;
  width: 379px;
  padding-top: 15px;
}

.footer-social {
  display: flex;
  justify-content: space-evenly;
  margin-top: 80px;
  border-top: 1px solid;
}

.social-button {
  text-align: center;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 28px;
  list-style: none;
  width: 267px;
  margin: 0px;
  padding: 0px;
}

.instagram-button {
  margin-left: 14px;
}

.facebook-button {
  margin-left: 14px;
}

.vkonakte-button {
  margin-left: 14px;
}

.twitter-icon, .instagram-icon, .facebook-icon, .vkonakte-icon {
  width: 38px;
  height: 38px;
  opacity: 0.5;
  background-color: #ffffff;
}

.information-shop {
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
  position: relative;
  font-weight: bold;
}

.html-academy {
  font-size: 12px;
  line-height: 16px;
  color: #fefefe;
}

.company-info {
  margin: 0px;
  padding: 0px;
  margin-right: 31px;
  list-style: none;
}

.info-company {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.logo-htmlacademy {
  margin-bottom: 46px;
}

.html-academy {
  margin-bottom: 26px;
}

.visually-hidden {
  display: none;
}