
body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;

  background-color: #859d8f;
}

a {
  text-decoration: none;
}
/*header*/

.site-navigation {
	display: flex; 
	justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.delivery {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.company-history {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.entrance {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.two-goods {
  font-size: 14px;
  line-height: 16px;
  color: #323232;
}

.forgot-password {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
}

.new-registration {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
}

.empty {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

/*body*/

.main-header-logo {
  width: 154px;
  height: 64px;
  object-fit: contain;
}

.site-navigation {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.ice-catalog {
  font-size: 14px;
  line-height: 16px;
  color: #323232;
}

.catalog {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.contacts {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.fast-view {
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
}

.ice-choice {
  font-size: 16px;
  line-height: 22px;
  color: #ffffff;
}

.menu-ice-catalog {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.order {
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
}

.ice-cream-img {
  border-radius: 150px;
  width: 267px;
  height: 267px;
}

.shop-glasy{
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

.provider, .production, .document, .standart {
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
}

.news-blog {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

.ice-cream {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

.ecological {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

.natural {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

.temperature {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
}

.ways {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}

.subscription {
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
}

.value {
  font-size: 45px;
  line-height: 45px;
  color: #ffffff;
}

.weight {
  font-size: 30px;
  line-height: 45px;
  color: #ffffff;
}

.send {
  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
}

.shut-down {
  width: 18px;
  height: 17px;
}

/*footer*/

.footer-social {
  display: flex;
  justify-content: space-evenly;
  margin-top: 80px;
  border-top: 1px solid;
}

.social-button {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
}

.twitter-icon, .instagram-icon, .facebook-icon, .vkonakte-icon {
  width: 38px;
  height: 38px;
  opacity: 0.5;
  background-color: #ffffff;
}

.information-shop {
  font-size: 13px;
  line-height: 16px;
  color: #ffffff;
}

.html-academy {
  font-size: 12px;
  line-height: 16px;
  color: #fefefe;
}